Schedule:
- The students are waiting outside of H52! This is mandatory, cause I have to kill the regular thinlinc session and prepare the new 'exam' session. During this time, the students should not be logged in!
- Via Skype chat, I'll let you know to open the door. The students come in and log in on the terminals.
- The 'student exam session' is protected - no personal files, no internet access.
- 10 minutes after exam start, I'll expect a list of missing students form my skype contact (=e.g. you). I'll see if someone is not logged on, but I need a confirmation from you.
- Sometimes there are technical problems. Give me a short description and the name (or better account name) of the student via Skype chat. Typically I'll mirror the student session than, inform the student that I'm controlling the session.
- You'll contact me via Skype chat, as soon as the last person finished.
- After that, the students leave the room. Not before! Cause they might log in again on another terminal and show their solution to other students. I'll collect all data. Terminate all exam sessions. Only students of the last exam (Thursday 13-15), may leave the room earlier.

- The mock exam is in our folder. Please print it for each student
- Let the students know that they can only save .m and .png files (for the plots). Only these file types will be picked up in the end.
- IMPORTANT for the Tuesday groups: Collect the mock exam in the end from EVERY student. The exercises will be the same on Thursday.